body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

form{
    text-align: center;
}

h4{
    font-weight: lighter;
    color: rgb(168, 168, 170);
}

input:autofill {
    box-shadow: inset 0 0 0 100vmax white;
}

input:-webkit-autofill {
    box-shadow: inset 0 0 0 100vmax white;
}

input[type=text]{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
}

input[type=number]{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
}

#message{
    color:rgb(239, 83, 83);
    position: relative;
}

#warning{
    color:rgb(174, 45, 45);
    list-style-type: none;
}

#good{
    color:green;
}


button{
    background-color: rgb(195, 238, 165);
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color:rgb(167, 234, 120);
    border-radius: 20px;
}